<h2>Test2</h2>

<div>
  <popover-content #myPopover placement="bottom" [closeOnClickOutside]="true">
      <div class="panel-heading">
      Columns
    </div>

    <ul dnd-sortable-container [sortableData]="columns" class="column-list">
      <li *ngFor="let item of columns; let i = index" class="column-item" dnd-sortable [sortableIndex]="i" (change)="onChangeOrder(item, $event)">
        <div class="row">
          <div class="col-sm-3">
            <input type='checkbox' id="id_{{item.name}}" [(ngModel)]="item.active"/>
            <label for="id_{{item.name}}"></label>
          </div>



          <div class="col-sm-7">{{item.name}}</div>
          <div class="col-sm-2">
            <div class="glyphicon glyphicon-menu-hamburger"></div>
          </div>

        </div>

      </li>
    </ul>
  </popover-content>

  <button [popover]="myPopover">click this button to see a popover</button>
</div>


<table>
  <th *ngFor="let col of columns">
    <div *ngIf="col.active">
      {{col.name}}
    </div>
  </th>
  <tr *ngFor="let row of rows">
    <td *ngFor="let col of columns">
      <div *ngIf="col.active">
        {{row[col.name]}}
      </div>
    </td>
  </tr>
</table>

<div *ngFor="let key of columns">
  {{key.name}}
</div>

