@font-face {
  font-family: ProximaNovaRegular;
  src: url(fonts/ProximaNova-Reg-webfont.eot);
  src: url(fonts/ProximaNova-Reg-webfont.eot?#iefix) format('embedded-opentype'),
  url(fonts/ProximaNova-Reg-webfont.woff) format('woff'),
  url(fonts/ProximaNova-Reg-webfont.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*all checkboxes are hidden as replaced by sprites icons*/
input[type=checkbox] {
  display: none;
}

/*table*/

.highlight {
  background-color: #2199e8;
  color: #fff !important;
}

.table-panel {
  margin: 20px 20px;
  width: 80%;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.column {
  font-family: ProximaNovaRegular;
  font-weight: normal;
  text-align: left;
  color: #4d4d4d;
  padding-left: 8px;
}

.select-column {
  width: 4%;
}

th.sortable {
  cursor: pointer;
}

.column:hover .column-sortable-icon {
  opacity: 1;
}

.column-sortable-icon {
  font-size: 0.8em;
  opacity: 0;
}

.sort-arrow {
  color: #6a6a6a;
}

.table-cell {
  font-family: ProximaNovaRegular;
  font-weight: normal;
  color: #000;
  text-align: left;
}

.table-row:hover {
  background-color: #dfdfdf;
}

.table-row:hover span.edit-row {
  background: url(svgicons.svg) no-repeat -131px -40px;
  width: 14px;
  height: 16px;
  display: block;
}

.edit-row:hover{
  cursor:pointer;
}

.row-checkbox-checked {
  background: url(svgicons.svg) no-repeat -132px -363px;
  width: 18px;
  height: 19px;
}

.row-checkbox-unchecked {
  background: url(svgicons.svg) no-repeat -116px -367px;
  width: 17px;
  height: 19px;
}

/*select column popover */

.column-btn {
  margin-left: 20%;
  background: url(svgicons.svg) no-repeat -166px -139px;
  width: 21px;
  height: 17px;
  border: 0;
  margin-top: 1px;
  display: block;
  cursor: pointer;
}

.column-btn:focus {
  outline: 0;
}

.column-list {
  list-style-type: none;
  padding: 0px 0px;
}

.column-item {
  cursor: move;
  padding: 8px 20px;
  font-size: 12px;
  width: 190px;
}

.column-item:hover {
  background-color: #eee;
}

.glyphicon-menu-hamburger {
  opacity: 0;
  color: #8e8e8e;
}

.column-item:hover .glyphicon-menu-hamburger {
  opacity: 1;
}

.column-name {
  margin-left: 0;
}

.inactivable {
  color: red;
}

.nopadding {
  padding: 0 !important;
  margin: 0;
}

input[type=checkbox].column-checkbox + label {
  height: 16px;
  width: 16px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin-bottom: 0px;
  background: url(svgicons.svg) no-repeat -79px -474px;
  cursor: pointer;

}

input[type=checkbox].column-checkbox:checked + label {
  background: url(svgicons.svg) no-repeat -102px -474px;
  cursor: pointer;
}
