h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.popover-content {
  padding: 0px 0px !important;
}
.popover.bottom{    margin-top: 5px!important;  margin-left: 87px!important;}
.popover.bottom>.arrow{display: none;}

ul.ng2-pagination {
  max-width:30%;
  margin: 0 auto;
}

ul li a{
  cursor:pointer;
}
